interactions:
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/66da4b5b-0b7e-4cfb-8c61-b9847ae6875e?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/66da4b5b-0b7e-4cfb-8c61-b9847ae6875e?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"Y1H/lEhOgTK2BSsj3bAyPLCdTu2rJJI7p3iaatmAA3SMxeyarghjALGWx0+q03w7n7odC+2zWYFM3TT4iPD5rg==","secondary":"MzwdQPY73UA90JK9sheaabaSxI5vZayIjr2YL70zva5EJ3OnFryOcdNdD6OfzqLbvaGGY9jFaGwlZnaWkYpgag=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Mon, 14 Sep 2020 10:16:05 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchcklnjhoem6ahqwkc.canadaeast.batch.azure.com/pools/xplatJobForTaskTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8589732392BE2'
      last-modified:
      - Mon, 14 Sep 2020 10:16:07 GMT
      location:
      - https://clibatch000002.canadaeast.batch.azure.com/pools/xplatJobForTaskTests
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "cli-test-job-1", "constraints": {"maxTaskRetryCount": 5}, "jobManagerTask":
      {"id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "environmentSettings":
      [{"name": "CLI_TEST_VAR", "value": "CLI_TEST_VAR_VALUE"}]}, "poolInfo": {"poolId":
      "xplatJobForTaskTests"}, "metadata": [{"name": "test", "value": "value"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Mon, 14 Sep 2020 10:16:07 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchcklnjhoem6ahqwkc.canadaeast.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D858973315D23C'
      last-modified:
      - Mon, 14 Sep 2020 10:16:09 GMT
      location:
      - https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 14 Sep 2020 10:16:09 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\",\"eTag\":\"0x8D858973315D23C\",\"lastModified\":\"2020-09-14T10:16:09.329926Z\",\"creationTime\":\"2020-09-14T10:16:09.2750494Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-09-14T10:16:09.329926Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \ },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \     }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":true\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n  },\"metadata\":[\r\n
        \   {\r\n      \"name\":\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n
        \   \"startTime\":\"2020-09-14T10:16:09.329926Z\",\"poolId\":\"xplatJobForTaskTests\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D858973315D23C'
      last-modified:
      - Mon, 14 Sep 2020 10:16:09 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-UserId:
      - 9df91b0a9a0c41217cfd61cda884c90b75c70bac33d18437354b0bfd6e1b06a2
    method: GET
    uri: https://app.aladdin.microsoft.com/api/v1.0/suggestions?query=%7B%22command%22%3A+%22batch+job+set%22%2C+%22parameters%22%3A+%22--account-endpoint%2C--account-key%2C--account-name%2C--job-id%2C--on-all-tasks-complete%22%7D&clientType=AzureCli&context=%7B%22versionNumber%22%3A+%222.11.1%22%2C+%22errorType%22%3A+%22InvalidParameterValue%22%7D
  response:
    body:
      string: "[{\"command\":\"batch job set\",\"parameters\":\"--job-id,--on-all-tasks-complete\",\"placeholders\":\"{job-id}\u2660noaction\",\"score\":3.0}]"
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      sml-correlationid:
      - f6916ef9-2928-435f-8398-b2e36ca86b37
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"poolInfo": {"poolId": "xplatJobForTaskTests"}, "onAllTasksComplete":
      "terminatejob"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      If-Unmodified-Since:
      - Mon, 14 Sep 2020 18:16:07 GMT
      ocp-date:
      - Mon, 14 Sep 2020 10:16:13 GMT
      return-client-request-id:
      - 'false'
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchcklnjhoem6ahqwkc.canadaeast.batch.azure.com/jobs/cli-test-job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8589736BBC030'
      last-modified:
      - Mon, 14 Sep 2020 10:16:15 GMT
    status:
      code: 200
      message: OK
[...]
