interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-UserId:
      - 9df91b0a9a0c41217cfd61cda884c90b75c70bac33d18437354b0bfd6e1b06a2
    method: GET
    uri: https://app.aladdin.microsoft.com/api/v1.0/suggestions?query=%7B%22command%22%3A+%22storage+account+show-usage%22%2C+%22parameters%22%3A+%22%22%7D&clientType=AzureCli&context=%7B%22versionNumber%22%3A+%222.11.1%22%2C+%22errorType%22%3A+%22MissingRequiredParameters%22%7D
  response:
    body:
      string: "[{\"command\":\"storage account show-usage\",\"parameters\":\"--location\",\"placeholders\":\"westus2\",\"score\":25.0},{\"command\":\"storage
        account show-usage\",\"parameters\":\"--location,--output\",\"placeholders\":\"westus2\u2660json\",\"score\":10.0},{\"command\":\"storage
        account show-usage\",\"parameters\":\"--location,--subscription\",\"placeholders\":\"westus2\u2660mysubscription\",\"score\":2.0}]"
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      sml-correlationid:
      - e234288b-0f3f-4f67-8173-e688fbc0267f
    status:
      code: 200
      message: OK
version: 1
